body {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav {
  align-items: center;
  background-color: #BF5FFF;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
}

nav a {
  color: white;
  font-size: 20px;
  margin: 0 30px;
  text-decoration: none;
}

nav a:hover {
  color: #EED2EE;
}

article {
  align-items: center;
  border: 3px solid #BF5FFF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
  width: 600px;
}
