{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
  {% if title %}
    <title>Django Blog - {{ title }}</title>
  {% else %}
    <title>Django Blog</title>
  {% endif %}
</head>

<body>
  <header>
    <h1><a href="{% url 'blog-home' %}">Django Blog</a></h1>
    <nav>
      <a href="{% url 'blog-home' %}">Home</a>
      <a href="{% url 'blog-about' %}">About</a>
      {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
      {% endif %}
    </nav>
  </header>
  <main>
    {% if messages %}
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
  </main>
</body>

</html>
